.side-menu {
  display: block;
  overflow: hidden;
  width: 100%;
  color: #4c4c4c;
  max-width: 300px;

  li {
    width: 100%;
    line-height: 52px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    &.odd {
      background-color: rgba(105, 105, 105, 0.7);
    }

    a {
      font-family: "Lato";
      font-weight: 300;
      font-style: normal;
      color: #fffde4;
      font-size: 21px;
      margin-left: 10px;
    }
  }
}